* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.preloader {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: rgb(24, 24, 70);
    align-items: center;
    justify-content: center;
}

.container {
    display: block;
    align-items: center;
    justify-items: center;
}

.pic {
    margin: auto;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: black;
    align-items: center;
    text-align: center;
}

.greeting {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 4rem;
    text-decoration: solid;
    text-align: center;
    font-weight: bold;
    color: #ededed;
    font-family: 'Roboto', sans-serif;
}

.content {
    padding: 5px;
    font-size: 25px;
    font-style:italic;
    color: #ededed;
    text-align: center;
}

.navbar {
    position: relative;
    width: 100%;
    display: flex;
    background-color: blue;
    color: white;
    height: 14vh;
    padding: 30px;
    align-items: center;
    justify-content: space-between;
}

.navbar .menu {
    justify-items: right;
}

.logo {
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
    height: 5vh;
    width: 7rem;
    align-items: center;
    display: flex;
    font-size: 28px;
    font-weight: bold;
    text-decoration: underline;
}

.navbar .menu a{
    width: 100vw;
    display: relative;
    margin-right: 10px auto auto auto;
    align-items: right;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin: 15px;
    text-decoration: none;
}

.navbar .menu a:hover {
    color: black;
    text-decoration: underline;
}

.slider {
    height: 86vh;
    width: 100%;
    display: block;
    position: relative;
}

.web_dev {
    height: 100vh;
    width: 100%;
    background-color: grey;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: left;
}

.web_dev .content {
    width: 700px;
    margin-left: 10vh;
    margin-top: 20vh;
}

.web_dev .content h1 {
    font-size: 4rem;
    font-weight: bold;
    color: white;
    text-align: left;
    margin-bottom: 10px;
    font-style: normal;
}

.web_dev .content p {
    font-size: 1.5rem;
    color: white;
    text-align: left;
    font-style: normal;
}

.web_dev .content .btn-box {
    border: 2px solid black;
    border-radius: 15px;
    margin-top: 20px;
    height: 3rem;
    width: 170px;
    font-size: 20px;
    padding: 10px;
    background-color: navy;
}

.web_dev .content .btn-box:hover {
    background-color: rgb(48, 48, 236);
}

.web_dev .content .btn-box a {
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    color: #ededed;
}

.software {
    height: 86vh;
    width: 100%;
    background-color: grey;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: left;
}

.software .content {
    width: 700px;
    margin-left: 10vh;
    margin-top: 20vh;
}

.software .content h1 {
    font-size: 4rem;
    font-weight: bold;
    color: white;
    text-align: left;
    margin-bottom: 10px;
    font-style: normal;
}

.software .content p {
    font-size: 1.5rem;
    color: white;
    text-align: left;
    font-style: normal;
}

.software .content .btn-box {
    border: 2px solid black;
    border-radius: 15px;
    margin-top: 20px;
    height: 3rem;
    width: 170px;
    font-size: 20px;
    padding: 10px;
    background-color: navy;
}

.software .content .btn-box:hover {
    background-color: rgb(48, 48, 236);
}

.software .content .btn-box a {
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    color: #ededed;
}



.accountant {
    height: 86vh;
    width: 100%;
    background-color: grey;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: left;
}

.accountant .content {
    width: 700px;
    margin-left: 10vh;
    margin-top: 20vh;
}

.accountant .content h1 {
    font-size: 4rem;
    font-weight: bold;
    color: white;
    text-align: left;
    margin-bottom: 10px;
    font-style: normal;
}

.accountant .content p {
    font-size: 1.5rem;
    color: white;
    text-align: left;
    font-style: normal;
}

.accountant .content .btn-box {
    border: 2px solid black;
    border-radius: 15px;
    margin-top: 20px;
    height: 3rem;
    width: 170px;
    font-size: 20px;
    padding: 10px;
    background-color: navy;
}

.accountant .content .btn-box:hover {
    background-color: rgb(48, 48, 236);
}

.accountant .content .btn-box a {
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    color: #ededed;
}







.Data-analyst {
    height: 86vh;
    width: 100%;
    background-color: grey;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: left;
}

.Data-analyst .content {
    width: 700px;
    margin-left: 10vh;
    margin-top: 20vh;
}

.Data-analyst .content h1 {
    font-size: 4rem;
    font-weight: bold;
    color: white;
    text-align: left;
    margin-bottom: 10px;
    font-style: normal;
}

.Data-analyst .content p {
    font-size: 1.5rem;
    color: white;
    text-align: left;
    font-style: normal;
}

.Data-analyst .content .btn-box {
    border: 2px solid black;
    border-radius: 15px;
    margin-top: 20px;
    height: 3rem;
    width: 170px;
    font-size: 20px;
    padding: 10px;
    background-color: navy;
}

.Data-analyst .content .btn-box:hover {
    background-color: rgb(48, 48, 236);
}

.Data-analyst .content .btn-box a {
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    color: #ededed;
}

.about {
    height: 100vh;
    width: 100vw;
    background: rgb(37, 35, 35);
    color: #ededed;
}

.about h2 {
    text-align: center;
    margin: 10px;
    padding: 10px;
    text-decoration: underline;
    font-style: bold;
    font-size: 2rem;
}


.about .description {
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.about .description .image {
    border: none;
    height: 500px;
    width: 400px;
    border-radius: 20px;
    background: none;
}

.about .description p {
    border: none;
    margin: 20px;
    margin-top: 10px;
    text-align: justify;
    height: 50vh;
    width: 600px;
    padding: 5px;
    font-size: 20px;
    text-style;
    font-weight: normal;
}