* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.preloader {
    /* Center the preloader content horizontally and vertically */
    position: relative; /* Keep it on top of the page content */
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* 100% viewport height */
    align-items: center;
    justify-content: center; /* Align horizontally in center */
    background-color: royalblue; /* Semi-transparent dark background */
    z-index: 999; /* Ensure preloader is above other elements */
    color: white;
    margin: 0 auto;
}
  
.preloader img {
    width: 100px; /* Set the width of the image */
    height: 100px; /* Set the height of the image */
    animation: spin 2s linear infinite; /* Rotate the image */
    border-radius:300%
}

.container {
    height: 150px;

    justify-items: center;
    align-items: center;
}
.pic {
    width: 104px;
    height: 104px;
    margin: auto auto;   
}

.greeting {
    height: 19px;
    width: 104px;
    font-size: large;
    margin: auto auto;
}

